.avg-grade-per-assigment-wrraper {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
}


.avg-grade-per-assigment-center {
    display: flex;
    flex-direction: column; 
    margin: 10px;
}

.avg-grade-per-assigment {
        border-radius: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: #7A55B5;
        width: 40px;
        padding: 10px;
        box-shadow: 0 0 4px black;
        height: 40px;
}