#logo {
  text-align: center;
  margin: 0 50px;
  font-size: 60px;
  color: #7a55b5;
  font-family: "Pacifico", cursive;
}

.App {
  background-color: #f0f0f0;
  font-family: 'Assistant', sans-serif;
}
