table,
th,
td {
  border-top: 1.5px solid #7a55b5;
  border-bottom: 1.5px solid #7a55b5;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

tr td:last-child {
  border-left: 1px solid #7a55b5;
}
#logo {
  text-align: right;
  margin: 0 50px;
  font-size: 60px;
  color: #7a55b5;
  text-shadow: 0 0 8px #9b80c8;
  font-family: "Pacifico", cursive;
}

tr {
  background: white;
  position: relative;
}

.App {
  background-color: #f0f0f0;
  font-family: "Fredoka", sans-serif;
}

@media only screen and (max-width: 1125px) {
  tr {
    line-height: 30px;
  }

  td {
    border-top: 10px solid #f0f0f0;
    border-bottom: 10px solid #f0f0f0;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}
